@media (max-width: 767px) {
  .headernav .list {
    display: none;
  }
  .headercontainer .adress {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgba(46, 47, 66, 1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: rgba(46, 47, 66, 1);
  text-decoration: none;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
.mobile-menu .link:hover {
  color: rgba(64, 75, 191, 1);
}

.mobile-menu .active {
  color: rgba(64, 75, 191, 1);
}

.menu-container .socialicons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  padding: 64px 10px;
}

.mobiledown .adress .list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.mobiledown .adress .list .adreslink {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
