/* MODAL */
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 584px;
    background: #fcfcfc;
    width: 408px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  
  .modal .modalcontainer {
    margin-bottom: 8px;
  }
  .modal .paragraph {
    font-weight: 500;
    color: var(--logo-span-color);
    margin-bottom: 16px;
    text-align: center;
  }
  .closemodal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .closemodal .svgproperties {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--logo-span-color);
  }
  
  .closemodal:hover .svgproperties,
  .closemodal:focus .svgproperties {
    fill: #ffffff;
  }
  
  .closemodal:hover,
  .closemodal:focus {
    background-color: #404bbf;
    border: none;
  }
  
  /* .form {
    display: flex;
    flex-direction: column;
    gap: 116px;
  } */
  
  /* .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
  } */
  
  /* INPUT TEXT BOX AND LABELS */
  
  .textboxlabelgroup {
    margin-bottom: 8px;
  }
  
  .form-label {
    display: block;
    gap: 4px;
    width: 360px;
    color: var(--linkiconcolor);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    margin-bottom: 4px;
  }
  
  .textboxiconcontainer {
    /* border: 1px solid red; */
    position: relative;
  }
  .textbox {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .inputicon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textboxiconcontainer:focus-within {
    fill: #4d5ae5;
  }
  
  .textbox:focus {
    /* border: 1px solid var(--logo-color); */
    border-color: #4d5ae5;
    outline: none;
  }
  .textareacontainer {
    margin-bottom: 16px;
  }
  
  .textareacontainer .modalcomment {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textareacontainer .modalcomment:focus {
    border-color: #4d5ae5;
    outline: none;
  }
  
  .checkboxcontainer {
    margin-bottom: 24px;
  }
  .checkboxlabel {
    display: block;
    gap: 8px;
    color: var(--linkiconcolor);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  
  .checkboxlabel .link {
    color: var(--logo-color);
  }
  
  .checkboxspan {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
  
  .checkboxinput:checked + .checkboxlabel .checkboxspan {
    background-color: var(--span-checked-background);
    border: none;
    fill: var(--footer-text);
  }
  
  .modal .herobutton {
    margin: 0 auto;
  }